asgiref
boto3
botocore
chardet
Django
django-allauth
django-countries
django-crispy-forms
django-storages
docutils
gunicorn
idna
jmespath
oauthlib
Pillow
psycopg2-binary
python3-openid
pytz
requests
requests-oauthlib
s3transfer
sqlparse
stripe
urllib3